<html>
 	<head>
		<title>{{ site.title }} :: {{ page.path_resolved }}</title>
		<style type="text/css" media="screen">{% include "style.css" %}</style>
	</head>
	<body>
		<div id="wrap1">
			<div id="wrap2">
				<div id="page">
					<div id="menu1">
						<ul class="topmenu menu1">
						  {% for p in pyco.getSubPages('/') %}
							  <li {% if p == pyco.subPath(page.path_resolved, 1) %} class="current"{% endif %}>
							    <a href="/{{ site.base }}{{ p }}">{{ pyco.getName(p) }}</a>
							  </li>
				      {% endfor %}
						</ul>
					</div>
					<div id="header">
						<img id="header" src="/images/headers/Default/Powerflower.jpg" />
						<!--<img id="header" src="/static/images/headers/Default/Serverschrank.jpg" />-->
						<p id="title">{{ pyco.getName(page.path_resolved) }}</p>
					</div>
					<div id="menu2">
						<ul class="topmenu menu2">
							{% for p in pyco.getSubPages(pyco.subPath(page.path_resolved, 1)) %}
							  <li {% if p == pyco.subPath(page.path_resolved, 2) %} class="current"{% endif %}>
							    <a href="/{{site.base }}{{ p }}">{{ pyco.getName(p) }}</a>
							  </li>
				      {% endfor %}
				    </ul>
					</div>
					<div id="center">
						<div id="menu3">
							<ul class="sidemenu menu3">
								{% for p in pyco.getSubPages(pyco.subPath(page.path_resolved, 2)) recursive %}
							    <li {% if p == pyco.subPath(page.path_resolved, 3) %} class="current"{% endif %}>
							      <a href="/{{site.base }}{{ p }}">{{ pyco.getName(p) }}</a>
						     	  {% if pyco.getSubPages(p) %}
							        <ul class="sidemenu menu3">
								        {{ loop(pyco.getSubPages(p)) }}
								      </ul>
										{% endif %}
								  </li>
								{% endfor %}
						  </ul>
						</div>
						<div id="content">
							<h1>{{ page.path_resolved }}</h1>
							{{ page.content }}
						</div>
					</div>
					<div id="footer">
				    <span class="left">
							<a href="/{{ site.base }}/Projects/PyCo">Powered by PyCo CMS</a>
						</span>
						<span class="right">
							<a href="/{{ site.base }}/Home/Impressum">Impressum</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
