<html>
<head>
	<title>{{ site.title }} :: {{ page.title }} </title>
  <style type="text/css" media="screen">{% include "main.css" %}</style>
</head>
<body>
	<div id="logo"><img src="/images/Jabber_wiki_logo.png" alt="Logo" /></div>
    
	<div id="menu">
		<h3>Navigation</h3>
		<ul>
		{% for p in pyco.getSubPages('/') recursive %}
			<li {% if p == page.path_resolved %} id="selected" {% endif %}>
				<a href="/{{ site.base }}{{ p }}">{{ pyco.getName(p) }}</a>
				{% if pyco.getSubPages(p) %}
				<ul>
					{{ loop(pyco.getSubPages(p)) }}
				</ul>
				{% endif %}
			</li>
		{% endfor %}
		</ul>

		<h3>Webchat</h3>
		<script language="javascript" type="text/javascript" src="https://jabber1.hs-fulda.org:9091/webchat/jivelive.jsp"></script>
		<script language="javascript" type="text/javascript">
    			showChatButton('admin@workgroup.jabber.hs-fulda.org');
		</script>

	</div>
	
	<div id="main">
		<div id="content">
			{{ content }}

		</div>
		<div id="footer">
			<a href="/{{ site.base }}/Kontakt">Kontakt</a> - <a href="/{{ site.base }}/Impressum">Impressum</a><br />
		</div>
	</div>
	
</body>
</html>
